rules:
	- bitExpert\PHPStan\Magento\Rules\AbstractModelUseServiceContractRule
	- bitExpert\PHPStan\Magento\Rules\AbstractModelRetrieveCollectionViaFactoryRule
services:
	-
		class: bitExpert\PHPStan\Magento\Type\ObjectManagerDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: bitExpert\PHPStan\Magento\Reflection\Framework\Session\SessionManagerMagicMethodReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
	-
		class: bitExpert\PHPStan\Magento\Reflection\Framework\DataObjectMagicMethodReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
