parameters:
	magento:
		checkCollectionViaFactory: true
		checkServiceContracts: true
		autoloaders:
			-
				serviceName: mockAutoloader
				method: autoload
				throw: true
				prepend: true
			-
				serviceName: testFrameworkAutoloader
				method: autoload
				throw: true
				prepend: false
			-
				serviceName: factoryAutoloader
				method: autoload
				throw: true
				prepend: false
			-
				serviceName: proxyAutoloader
				method: autoload
				throw: true
				prepend: false

parametersSchema:
	magento: structure([
		checkCollectionViaFactory: bool()
		checkServiceContracts: bool()
		autoloaders: arrayOf(structure([
			serviceName: string()
			method: string()
			throw: bool()
			prepend: bool()
		]))
	])

conditionalTags:
	bitExpert\PHPStan\Magento\Rules\AbstractModelRetrieveCollectionViaFactoryRule:
		phpstan.rules.rule: %magento.checkCollectionViaFactory%
	bitExpert\PHPStan\Magento\Rules\AbstractModelUseServiceContractRule:
		phpstan.rules.rule: %magento.checkServiceContracts%

services:
	-
		class: bitExpert\PHPStan\Magento\Type\ObjectManagerDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: bitExpert\PHPStan\Magento\Type\TestFrameworkObjectManagerDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: bitExpert\PHPStan\Magento\Reflection\Framework\Session\SessionManagerMagicMethodReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
	-
		class: bitExpert\PHPStan\Magento\Reflection\Framework\DataObjectMagicMethodReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
	-
		class: bitExpert\PHPStan\Magento\Rules\GetCollectionMockMethodNeedsCollectionSubclassRule
		tags:
			- phpstan.rules.rule
	-
		class: bitExpert\PHPStan\Magento\Rules\AbstractModelRetrieveCollectionViaFactoryRule
	-
		class: bitExpert\PHPStan\Magento\Rules\AbstractModelUseServiceContractRule
	fileCacheStorage:
		class: bitExpert\PHPStan\Magento\Autoload\Cache\FileCacheStorage
		arguments:
			directory: %tmpDir%
	autoloaderCache:
		autowired: false
		class: PHPStan\Cache\Cache
		arguments:
			storage: @fileCacheStorage
	mockAutoloader:
		class: bitExpert\PHPStan\Magento\Autoload\MockAutoloader
	testFrameworkAutoloader:
		class: bitExpert\PHPStan\Magento\Autoload\TestFrameworkAutoloader
	factoryAutoloader:
		class: bitExpert\PHPStan\Magento\Autoload\FactoryAutoloader
		arguments:
			cache: @autoloaderCache
	proxyAutoloader:
		class: bitExpert\PHPStan\Magento\Autoload\ProxyAutoloader
		arguments:
			cache: @autoloaderCache
