parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    fileExtensions:
        - php
    paths:
        - src/bitExpert
        - tests/bitExpert
    ignoreErrors:
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Autoload/Cache/FileCacheStorage.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Autoload/FactoryAutoloader.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Autoload/ProxyAutoloader.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Autoload/ExtensionAutoloader.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Autoload/ExtensionInterfaceAutoloader.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Reflection/Framework/Session/SessionManagerMagicMethodReflectionExtension.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: src/bitExpert/PHPStan/Magento/Reflection/AbstractMagicMethodReflectionExtension.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/FactoryAutoloaderUnitTest.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/ProxyAutoloaderUnitTest.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/RegistrationUnitTest.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/ExtensionAutoloaderUnitTest.php
        -
            message: '~Parameter #1 $argument of class ReflectionClass constructor expects class-string<MyUncachedExtension>|MyUncachedExtension, string given~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/ExtensionAutoloaderUnitTest.php
        -
            message: '~is not covered by backward compatibility promise.~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/ExtensionInterfaceAutoloaderUnitTest.php
        -
            message: '~Parameter #1 $argument of class ReflectionClass constructor expects class-string<UncachedExtensionInterface>|UncachedExtensionInterface, string given~'
            path: tests/bitExpert/PHPStan/Magento/Autoload/ExtensionInterfaceAutoloaderUnitTest.php
        -
            message: '~bitExpert\\PHPStan\\Magento\\Rules\\Helper\\SampleModel::__construct\(\) does not call parent constructor~'
            path: tests/bitExpert/PHPStan/Magento/Rules/Helper/SampleModel.php
        -
            message: '~Call to static method PHPUnit\\Framework\\Assert::assertInstanceOf~'
            path: tests/bitExpert/PHPStan/Magento/Type/TestFrameworkObjectManagerDynamicReturnTypeExtensionUnitTest.php
